//Colors
$primary-color: #d75b45;
$text-color: #818181;
$white-color: #ffffff;
$black-text: #1a202c;
$bg-color:rgb(55 65 81);

//spacing
$base-padding: 10px;
$base-margin: 10px;
$base-gap: 20px;

//borders
$base-border-thikness: 1px;
$base-border-radius: 5px;

//font size
$base-font-size: 10px;

//transition
$main-transition:0.3s;